.calendar {
	background: black;
	color: white;
	width: 300px;
	margin: 100px auto;
	padding: 5px;
}
.daysOfWeek {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	padding: 0px 10px;
}
.dates {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	padding: 10px;
}
.date {
	color: white;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 32px auto;
	font-size: 16px;
	text-align: center;
}
.emptySlot {
	display: hidden;
}
.currentDay {
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}
